body * {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-color: lightgray;
}

.page {
  width: 90%; /* Adjust the page width as needed */
  max-width: 1200px; /* Add a maximum width to prevent issues on larger screens */
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
  padding-bottom: 50px; /* Increase padding to add space at the bottom */
  padding-left: 20px; /* Increase left padding */
  padding-right: 20px; /* Increase right padding */
}

.vis-container {
  width: 100%;
  max-width: 100%; /* Set a maximum width for charts */
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}
